{% extends 'base.html' %}
{% block title %} Hincha {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion_artesano.css') }}"> {% endblock %}

{% block title2 %}
<h1>Detalle Hincha</h1>
{% endblock %}

{% block content %}

    <div class="container">
        {% if hincha %}
        <table id="tabla-hincha">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Deportes</th>
                </tr>
            </thead>
            <tbody>
                {% for hincha_id, hincha in hincha.items() %}
                <tr>
                    <td>{{ hincha['id'] }}</td>
                    <td>{{ hincha['nombre'] }}</td>
                    <td>{{ hincha['celular'] }}</td>
                    <td>{{ hincha['email'] }}</td>
                    <td>{{ hincha['region'] }}</td>
                    <td>{{ hincha['comuna'] }}</td>
                    <td>
                        {% for deporte in hincha['lista_deportes'] %}
                            {{ deporte }}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No hay hinchas registrados</h2>
        {% endif %}

    </div>

    <button type="button" id="back" class="button" onclick="location.href='/'">Volver al menú principal</button>


{% block javascript %}
<script src="{{ url_for('static', filename='js/informacion_artesano.js') }}"></script>
{% endblock %}
{% endblock %}