{% extends 'base.html' %}
{% block title %} Artesanos registrados {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion_artesano.css') }}"> {% endblock %}

{% block title2 %}
<h1>Artesanos registrados</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <!-- creamos la tabla con los registros de la lista_artesanos -->
        {% if artesano %}
        <table id="tabla-artesanos">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>Comuna</th>
                    <th>Tipo Artesanías</th>
                    <th>Descripción Artesanias</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for artesano_id, artesano in artesano.items() %}
                <tr>
                    <td>{{ artesano['id'] }}</td>
                    <td>{{ artesano['nombre'] }}</td>
                    <td>{{ artesano['celular'] }}</td>
                    <td>{{ artesano['email'] }}</td>
                    <td>{{ artesano['region'] }}</td>
                    <td>{{ artesano['comuna'] }}</td>
            
                    <td>
                        {% for artesania in artesano['lista_artesanias'] %}
                            {{ artesania }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for descripcion in artesano['lista_descripciones'] %}
                            {{ descripcion }}<br>
                        {% endfor %}
                    <td>
                        {% for foto in artesano['lista_rutas_fotos'] %}
                            <img src="../{{ foto }}"  alt="foto" width="640" height="480">
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No hay artesanos registrados</h2>
        {% endif %}

    </div>

    <button type="button" id="back" class="button" onclick="location.href='/'">Volver al menú principal</button>


{% block javascript %}
<script src="{{ url_for('static', filename='js/informacion_artesano.js') }}"></script>
{% endblock %}
{% endblock %}