{% extends 'base.html' %}
{% block title %}Grafico Hinchas{% endblock %}
{% block css %} 
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='css/stats.css') }}"
    > 
{% endblock %}
{% block content %}
<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="container_hinchas"></div>
        <p class="highcharts-description">
            El gráfico muestra la cantidad de hincas por deporte.
        </p>
    </figure>

    <button type="button" id="back" class="button" onclick="location.href='/'">Volver al menú principal</button>

</div>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats_hinchas.js')}}"></script>
{% endblock %}