{% extends 'base.html' %}
{% block title %} Hinchas registrados {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ver_artesano.css') }}"> {% endblock %}

{% block title2 %}
<h1>Hinchas registrados</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <!-- creamos la tabla con los registros de la lista_hinchas -->
        {% if hinchas_data %}
        <table id="tabla-hinchas">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Comuna</th>
                    <th>Deportes</th>
                    <th>Modo Transporte</th>
                    <th>Número Celular</th>
                </tr>
            </thead>
            <tbody>
                {% for hincha_id, hincha in hinchas_data.items() %}
                <tr data-id="{{ hincha['id'] }}">
                    <td>{{ hincha['id'] }}</td>
                    <td>{{ hincha['nombre'] }}</td>
                    <td>{{ hincha['comuna'] }}</td>
                    <td>
                        {% for deporte in hincha['lista_deportes'] %}
                            {{ deporte }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ hincha['transporte'] }}</td>
                    <td>{{ hincha['celular'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No hay hicnhas registrados</h2>
        {% endif %}

    </div>

    <div class="pagination">
        {% if len_data > 0 %}
        {% for page_num in range(1, (len_data // 5) + 2) %}
        <a href="{{ url_for('listado_hinchas', page=page_num) }}">{{ page_num }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <button type="button" id="back" class="button" onclick="location.href='/'">Volver al menú principal</button>


{% block javascript %}
<script src="{{ url_for('static', filename='js/lista_hinchas.js') }}"></script>
{% endblock %}
{% endblock %}
