<!DOCTYPE html>
<html lang="es">
<head>
    <title>Informacion Artesano</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/informacion_artesano.css">
</head>

<body>

    <h1>Informacion Artesano</h1>
    
    <div class="center">
        <img id="logo-id" src="../imagenes/Santiago_2023.png" alt = "olimpiadas_iamgen">
    </div>
    
    
    <div>        
        <div class="container">
            <!-- Tabla de hinchas -->
            <table id="tabla-hinchas">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Comuna</th>
                        <th>Tipo Artesanías</th>
                        <th>Fotos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Juanito Perez</td>
                        <td>123456789</td>
                        <td>Comuna 1</td>
                        <td>Artesanía 1</td>
                        <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                            <img src="../imagenes/Santiago_2023.png" alt="imagen1">
                            <img src="../imagenes/Santiago_2023.png" alt="imagen1">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="button" onclick="location.href='ver-artesanos.html'">Volver a la lista de artesanos</button>
    <script src="../js/informacion_artesano.js"></script>
</body>
</html>