<!DOCTYPE html>
<html lang="es">
<head>
    <title>Artesanos registrados</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/ver_artesano.css">
</head>
<body>

    <h1>Artesanos registrados</h1>

    <div class="center">
        <img id="logo-id" src="../imagenes/Santiago_2023.png" alt="olimpiadas_imagen">
    </div>

    <div class="container">
        <!-- Tabla de hinchas -->
        <table id="tabla-artesanos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Comuna</th>
                    <th>Tipo Artesanías</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>Juanito Perez</td>
                    <td>+56983464528</td>
                    <td>Providencia</td>
                    <td>Ceramica, Marmol, Madera</td>
                    <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen2">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen3">
                    </td>
                </tr>
                <tr>
                    <td>María González</td>
                    <td>+56983465528</td>
                    <td>Providencia</td>
                    <td>Mimbre, Marmol, Madera</td>
                    <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen2">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen3">
                    </td>
                </tr>
                <tr>
                    <td>Carlos Pérez</td>
                    <td>+56913464528</td>
                    <td>Maipu</td>
                    <td>Metal, Marmol, Madera</td>
                    <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen2">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen3">
                    </td>
                </tr>
                <tr>
                    <td>María Pérez</td>
                    <td>+56983464521</td>
                    <td>Providencia</td>
                    <td>Ceramica, Cuero</td>
                    <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                    <img src="../imagenes/Santiago_2023.png" alt="imagen2">
                    </td>
                </tr>
                <tr>
                    <td>Julian Alvarez</td>
                    <td>+56933464522</td>
                    <td>Maipu</td>
                    <td>Madera</td>
                    <td><img src="../imagenes/Santiago_2023.png" alt="imagen1">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    
    <!-- Boton para volver al menu principal -->
    <button type="button" class="button" onclick="location.href='index.html'">Volver al menú principal</button>
    <script src="../js/ver_artesanos.js"></script>
</body>
</html>