{% extends 'base.html' %}
{% block title %} Artesanos registrados {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ver_artesano.css') }}"> {% endblock %}

{% block title2 %}
<h1>Artesanos registrados</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <!-- creamos la tabla con los registros de la lista_artesanos -->
        {% if artesanos %}
        <table id="tabla-artesanos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Comuna</th>
                    <th>Tipo Artesanías</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for artesano in artesanos %}
                <tr>
                    <td>{{ artesano[0] }}</td>
                    <td>{{ artesano[1] }}</td>
                    <td>{{ artesano[2] }}</td>
                    <td>{{ artesano[3] }}</td>
                    <td>
                        <!-- {% for foto in artesano[4] %}
                        <img src="{{ url_for('static', filename='imagenes/' + foto) }}" alt="imagen1">
                        {% endfor %} -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No hay artesanos registrados</h2>
        {% endif %}

    </div>

    <button type="button" id="back" class="button" onclick="location.href='/'">Volver al menú principal</button>
{% endblock %}
